
:root {
    --main-bg-color: rgb(145, 145, 206);
}

* {
    font-family: Helvetica, sans-serif;
}

/*establishing overall format of a column*/
body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

/*Header section will be flexible with name on the left and nav items on the right*/
header {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    /* border: 3px solid black; */
    padding: 3%;
}

/* my name large on the left side*/
.name-header {
    color: white;
    width: 60%;
    /* border: 3px solid black; */
    text-align: left;
    flex: 1 1 50%;
}

/*3 main navigation links, about me, contact info and applications*/
header nav {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    width: 30%;
    justify-content: right;
    /* border: 3px solid black; */
}

/*making nav links in a line*/
header nav li {
    display: inline-block;
    margin-left: 5px;
    /* border: 3px solid black; */
}

/*giving nav links their own color and removing underlining*/
header nav a {
    color: rgb(214, 210, 210);
    text-decoration: none;
}

/*creating a container for some artwork*/
.artsy-box {
    display: block;
    height: 400px;
    /* border: 3px solid black; */
}

/*image for artwork container, had to limit it to not take up too much space and prevent from looking distorted*/
.artsy-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*The rest of the page below the header and art box*/
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: wrap;
    border: 3px solid black; */
}


/*Column for About Me and Contact Info sections*/
aside {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    width: 35%;
}

/*Column for my photo and text underneath*/
.section-about {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    position: relative;
}

/*Div for the paragraph about me with centered text*/
.section-about div {
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Giving a label to About Me and have it fit in the container*/
.section-about h3 {
    color: white;
    position: absolute;
    top: -2%;
    background-color: var(--main-bg-color);
    padding: 2%;
}

/*Contact info area with different background color to stand out more*/
.section-contact {
    /* border: 3px solid black; */
    text-align: center;
    position: relative;
    background-color: rgb(214, 210, 210);
    padding-bottom: 2%;
}

/*Label for Contact Info section to fit in the container*/
.section-contact h3 {
    color: white;
    position: absolute;
    top: -8%;
    background-color: var(--main-bg-color);
    padding: 2%;
}

/*Container for the application section, using flex row to have first application be larger*/
.section-apps {
    /* border: 3px solid black; */
    width: 62%;
    display: flex;
    flex: 1 1 62%;
    justify-content: right;
    flex-direction: row;
    flex-wrap: wrap;
}

/*First app, takes up entire width*/
.app-1 {
    /* border: 3px solid black; */
    width: 100%;
    padding: 1%;
    position: relative;
}

/*Label that fits on top of image*/
.app-1 h3 {
    color: white;
    position: absolute;
    top: -3%;
    background-color: var(--main-bg-color);
    padding: 2%;
}


/*Second app that fits with 3rd app on same row*/
.app-2 {
    /* border: 3px solid black; */
    width: 47%;
    padding: 1%;
    position: relative;
}


/*Label for 2nd app that is top left and over the image*/
.app-2 h3 {
    color: white;
    position: absolute;
    top: -6%;
    background-color: var(--main-bg-color);
    padding: 2%;
}

/*Third app that fits with 3rd app on same row*/
.app-3 {
    /* border: 3px solid black; */
    width: 47%;
    padding: 1%;
    position: relative;
}

/*Label for 3rd app that is top left and over the image*/
.app-3 h3 {
    color: white;
    position: absolute;
    top: -6%;
    background-color: var(--main-bg-color);
    padding: 2%;
}

/* including media query to readjust layout for smaller screens
stacking containers in a column and maxing width*/
@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        width: 100%;
    }

    .section-about {
        margin-bottom: 3%;
        width: 100%;
    }

    .section-about h3 {
        top: -3%;
    }

    .section-contact {
        padding-top: 5%;
        padding-bottom: 7%;
        margin-bottom: 6%;
        width: 100%;
    }

    .section-contact h3 {
        top: -9%;
    }

    .section-apps {
        width: 100%;
    }

    .app-1 h3 {
        top: -8%;
    }

    .app-2 h3 {
        top: -13%;
    }

    .app-3 h3 {
        top: -13%;
    }

}